<a href="https://colab.research.google.com/github/naokityokoyama/coursera/blob/main/Segmenting_and_Clustering_Neighbourhoods_in_Toronto_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Segmenting and Clustering Neighbourhoods in Toronto

In [44]:
import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import re

In [1]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [10]:
html = requests.get(url)
soup = BeautifulSoup(html.text, 'lxml')

In [29]:
table = soup.find('tbody')
tr = table.find('tr')

for i in tr.find_all('span'):
  print (i.text)

Not assigned
Not assigned
North York(Parkwoods)
North York(Victoria Village)
Downtown Toronto(Regent Park / Harbourfront)
North York(Lawrence Manor / Lawrence Heights)
Queen's Park(Ontario Provincial Government)
Not assigned
Etobicoke(Islington Avenue)

In [242]:
lista_tabela = []
tabela = table.find_all('td', style=lambda value:'vertical-align:top')
for i in tabela:
  lista_tabela.append(i.text)

In [246]:
#retirar /n
lista_total2 = []
for i in range(len(lista_tabela)):
  lista_total2.append(re.sub(r'\n', '', lista_total[i]))

In [ ]:
lista_rua = []
for i in range(len(lista_tabela)):
  lista_rua.append(re.findall(r'\(.*', lista_total2[i]))

lista_rua

In [251]:
lista_codigo = []
for i in range(len(lista_tabela)):
  lista_codigo.append(re.findall(r'M\d.', lista2[i]))

In [253]:
#dataframe pre limpo
um = pd.DataFrame(lista_rua, columns=['Rua'])
dois = pd.DataFrame(lista_codigo, columns=['cod', 'outro'])
tres = pd.DataFrame(lista_total2, columns=['lista'])

In [254]:
#dropando a coluna outros do dataframe dois
dois.drop('outro', axis=1, inplace=True)

In [296]:
#limpando o dataset tres
tres_limpo = []
for i, j in zip(tres['lista'], dois['cod']):
  tres_limpo.append(i.replace(j, ''))

In [297]:
#dataset refeito tres pre limpo
tres_limpo = pd.DataFrame(tres_limpo, columns=['limpo'])

In [304]:
#limpeza final do dataset tres
lista_final = []
for i, j in zip(tres_limpo['limpo'], um['Rua']):
  if i !='Not assigned':
    lista_final.append(i.replace(j, ''))
  else:
    lista_final.append('Not assigned')

In [309]:
tres_final = pd.DataFrame(lista_final, columns=['bairro'])

In [313]:
df

                                                   Rua  cod            bairro
0                                                 None  M1A      Not assigned
1                                                 None  M2A      Not assigned
2                                          (Parkwoods)  M3A        North York
3                                   (Victoria Village)  M4A        North York
4                         (Regent Park / Harbourfront)  M5A  Downtown Toronto
..                                                 ...  ...               ...
175                                               None  M5Z      Not assigned
176                                               None  M6Z      Not assigned
177                                               None  M7Z      Not assigned
178  (Mimico NW / The Queensway West / South of Blo...  M8Z         Etobicoke
179                                               None  M9Z      Not assigned

[180 rows x 3 columns]

In [315]:
df = pd.concat([um, dois, tres_final], axis=1)

df = df.rename(columns={'cod':'Postal Code', 'bairro':'Borough', 'Rua':'Neighborhood'})
df = df.reindex(columns=['Postal Code','Borough','Neighborhood'])

In [319]:
df

    Postal Code  ...                                       Neighborhood
0           M1A  ...                                               None
1           M2A  ...                                               None
2           M3A  ...                                        (Parkwoods)
3           M4A  ...                                 (Victoria Village)
4           M5A  ...                       (Regent Park / Harbourfront)
..          ...  ...                                                ...
175         M5Z  ...                                               None
176         M6Z  ...                                               None
177         M7Z  ...                                               None
178         M8Z  ...  (Mimico NW / The Queensway West / South of Blo...
179         M9Z  ...                                               None

[180 rows x 3 columns]